.App{
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #ddd;
  display: flex;
  justify-content: right;
  align-items: center;
}

.container{
  display: flex;
  width: 60%;
  max-width: 1200px;
  padding: 20px;
}

.right-widgets{
  flex: 1;
  display: flex;
  flex-direction: column;

}